# Variables de Azure
VITE_AZURE_CLIENT_ID=
VITE_AZURE_TENANT_ID=
VITE_AZURE_SCOPE=api://(VITE_AZURE_CLIENT_ID)/write-read

# URLs de Microservicios (Acceso desde el navegador)
VITE_MS_USUARIOS_URL=
VITE_MS_PRODUCTOS_URL=
VITE_MS_CARRITO_URL=