POSTGRES_DATABASE=
POSTGRES_USER=
POSTGRES_PASSWORD=
DATASOURCE_URL=

AZURE_ISSUER_URI=https://login.microsoftonline.com/(tenant_id)/v2.0
AZURE_TENANT_ID=
AZURE_CLIENT_ID=

PRODUCTOS_SERVICE_URL=
CORS_ALLOWED_ORIGINS=